*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: 'poppins',sans-serif;
    text-decoration: none;
}

.container{
    background-image: url(navbar\ bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.navbar{
   background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar ul li {
    display: inline-block;
    list-style-type: none;
}

.navbar ul li a{
    padding-right: 25px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    text-shadow: 2px 2px 4px black;
}

.navbar ul li a:hover{
    font-size: 20px;
    color: goldenrod;
    text-decoration: underline;
    text-shadow: 2px 2px 4px black;
}

.menu{
    color: goldenrod;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
    padding-right: 15px;
    display: none;
}

.logo h3{
    color: goldenrod;
    font-size: 25px;
    text-shadow: 2px 2px 4px black;
}

.title h3{
    font-size: 30px;
    color: goldenrod;
    text-shadow: 2px 2px 4px black;
    padding-left: 580px;
    padding-top: 50px;
}

.quotes h4{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding-left: 480px;
    padding-top: 10px;
}

.quotes p{
    font-size: 20px;
    color: white;
    width: 650px;
    padding-left: 520px;
    padding-top: 20px;
    text-align: center;
}

.awards-year{
    padding-top: 10px;
    text-align: none;
    padding-left: 620px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.awards-year p i{
    color: goldenrod;
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    padding-right: 10px;
}

.awards-year p{
    color: white;
    padding-top: 20px;
    font-weight: bold;
}

.partners{
    padding: 20px;
    background-color: snow;
}

.partners h3{
    font-size: 20px;
    color: red;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.partners h3 span{
    color: blue;
}

.partner-img img{
    width: 250px;
    height: 180px;
    border-radius: 20px;
    padding: 10px;
    text-shadow: 2px 2px 4px black;
}

.partner-img h4{
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.partner-img{
    padding: 10px;
    background-color: lightseagreen;
    width: 280px;
    height: auto;
    box-shadow: 2px 2px 4px black;
    border-radius: 20px;
}

.partners-images{
    display: flex;
    flex-direction: row;
    column-gap: 90px;
    flex-wrap: wrap;
    width: 90%;
    padding-top: 40px;
    padding-left: 120px;
    padding-bottom: 30px;
}

.box-name{
    width: 350px;
    height: auto;
    background-color: wheat;
    padding-bottom: 20px;
    text-align: center;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-name img{
    width: 300px;
    height: 200px;
    padding-top: 20px;
}

.box-name h4{
    font-size: 24px;
    color: teal;
    text-shadow: 1px 1px 2px black;
}

.box-name p{
    text-align: none;
    width: 320px;
}

.awards-gallery{
    background-color: lightgrey;
    padding: 20px;
    display: flex;
    flex-direction: row;
    row-gap: 35px;
    column-gap: 50px;
    flex-wrap: wrap;
}


.foundation-growth {
   background-color: lightgreen;
   padding: 25px;
}

.foundation-growth img{
    width: 500px;
    height: 200px;
    border-radius: 20px;
}

.growth-text{
    float: right;
    width: 700px;
    padding-right: 50px;
    padding-top: 30px;
}

.growth-text h2{
    color: green;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
}

.growth-text p{
    padding-top: 10px;
}

.growth-text button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: white;
    font-weight: bold;
    background-color: green;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.Business-awards{
    background-color: lightsalmon;
   padding: 25px;
}

.Business-awards img{
    float: right;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-right: 50px;
}

.business-text{
    width: 700px;
    padding-left: 80px;
    padding-top: 30px;
}

.business-text h2{
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 1px;
}

.business-text p{
    padding-top: 10px;
}


.business-text button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: lightsalmon;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.winner{
    background-color: white;
    padding: 25px;
}

.winner img{
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-left: 50px;
}

.winner-text{
    float: right;
    width: 700px;
    padding-right: 80px;
    padding-top: 30px;
}

.winner-text h2{
    color: blue;
    text-shadow: 1px 1px 2px black;
    letter-spacing: 1px;
}

.winner-text p{
    padding-top: 10px;
}


.winner-text button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: blue;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.achievement{
    background-color: lightblue;
   padding: 25px;
}

.achievement img{
    float: right;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    margin-right: 50px;
}

.achievement-text{
    width: 700px;
    padding-left: 80px;
    padding-top: 30px;
}

.achievement-text h2{
    color: white;
    text-shadow: 2px 2px 4px black;
    letter-spacing: 1px;
}

.achievement-text p{
    padding-top: 10px;
}


.achievement-text button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    color: rgb(0, 102, 255);
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contact-details{
    display: flex;
    flex-direction: row;
    column-gap: 100px;
    flex-wrap: wrap;
    background-color: gray;
    padding: 25px;
}

.contact{
    margin-left: 20px;
}

.contact h3{
    color: teal;
    text-shadow: 1px 1px 2px black;
    font-size: 25px;
}

.contact p{
    color: white;
    font-size: 18px;
    padding-top: 5px;
}

.social-icons{
    margin-top: 10px;
}

.social-icons i{
    color: teal;
    font-size: 25px;
    padding-right: 10px;
    text-shadow: 2px 2px 4px black;
}

.social-icons i:hover{
    color:red;
}

.insight h3{
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px black;
}

.insight p{
    color: white;
    padding-top: 5px;
}

.Service h3{
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px black;
}

.Service p{
    color: white;
    padding-top: 5px;
}

.About h3{
    color: white;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px black;
}

.About p{
    color: white;
    padding-top: 5px;
}


@media screen and (max-width: 790px){
    .container{
        background-image: url(OIP\ \(1\).jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }

    .navbar ul li {
        display: none;
    }
    
    .logo h3{
        font-size: 20px;
    }
    
    .menu{
        display: block;
    }
    
    .title h3{
        text-align: center;
        font-size: 23px;
        padding-left: 15px;
        padding-top: 60px;
    }
    
    .quotes h4{
        width: 300px;
        font-size: 18px;
        text-align: center;
        padding-left: 40px;
    }
    
    .quotes p{
        color: white;
        text-shadow: 1px 1px 2px black;
        font-size: 20px;
        width: 380px;
        padding-left: 0px;
        text-align: center;
    }
    
    .awards-year{
        padding-left: 40px;
        padding-top: 10px;
        padding-bottom: 80px;
    }
    
    .awards-year p{
        padding-top: 20px;
        text-shadow: 1px 1px 2px black;
    }
    
    .awards-year p{
        color: white;
        padding-top: 20px;
        font-weight: bold;
    }
    
    .partners h3{
        color: goldenrod;
    }
    
    .partners h3 span{
        color: red;
    }
    
    .partners-images{
        row-gap: 30px;
        padding-left: 25px;
    }
    
    .box-name{
        margin-left: 5px;
    }

    .awards-gallery{
        row-gap: 10px;
    }
    
    .foundation-growth {
       background-color: lightgreen;
       padding: 15px;
       height: 530px;
       padding-left: 40px;
    }
    
    .foundation-growth img{
        width: 300px;
        height: 200px;
        margin-top: 20px;
    }
    
    .growth-text{
        text-align: center;
        float: left;
        width: 300px;
        padding-right: 0px;
        padding-top: 20px;
    }
    
    .Business-awards{
        background-color: lightsalmon;
        padding: 15px;
        height: 530px;
        padding-left: 40px;
    }
    
    .Business-awards img{
        float: left;
        width: 300px;
        height: 200px;
        margin-top: 20px;
        margin-right: 0px;
    }
    
    .business-text{
        text-align: center;
        float: left;
        width: 300px;
        padding-left: 5px;
        padding-right: 0px;
        padding-top: 20px;
    }
    
    .winner{
        background-color: white;
        padding: 25px;
        height: 530px;
        padding-left: 40px;
    }

    .winner img{
        width: 300px;
        height: 200px;
        margin-left: 10px;
        margin-top: 20px;
    }
    
    .winner-text{
        text-align: center;
        float: left;
        width: 300px;
        padding-right: 0px;
        padding-top: 20px;
    }
    
    .achievement{
        background-color: lightblue;
        padding: 25px;
        height: 530px;
        padding-left: 40px;
    }
    
    .achievement img{
        float: left;
        width: 300px;
        height: 200px;
        margin-right: 0px;
        margin-top: 20px;
    }
    
    .achievement-text{
        text-align: center;
        float: left;
        width: 300px;
        padding-left: 5px;
        padding-right: 0px;
        padding-top: 20px;
    }
    
    .contact-details{
        row-gap:  30px;
        text-align: center;
    }
    
    .contact{
        margin-left: 10px;
    }
    
    
    .insight{
        padding-left: 80px;
    }
    
    .Service {
        padding-left: 80px;
    }
    
    .About {
        padding-left: 80px;
    }
}